<!DOCTYPE html>
<html>
    <head>
        <title>Mr Popo</title>
        <meta charset='utf8'>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <li id="sidebar">
            <div class="logo-container">
                <a href="/"></a>
            </div>
            <a href="/managment">Managment</a>
            <a href="#">Music</a>
            <a href="#">Soon</a>
            <a href="#">Soon</a>
            <a href="#">Soon</a>
        </li>
        <%- include('../pages/'+page) %>
        <script src="js/app.js"></script>
    </body>
</html>