<section>
    <ul>
        <li class="options"><a href="#">OPTION</a></li>
        <li class="options"><a href="#">OPTION</a></li>
        <li class="options"><a href="#">OPTION</a></li>
        <li class="options"><a href="#">OPTION</a></li>
        <li class="options"><a href="#">OPTION</a></li>
        <li class="options"><a href="#">OPTION</a></li>
    </ul>
</section>